@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

* {
  transition: 0.2s ease;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 10px;
}
